:host {
  display: block;
}

.notification {
  background-color: var(--color-dark);
  font-size: 2rem;
  padding: 1rem;
  border-radius: 5px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.success:not(span) {
  background-color: rgb(117, 171, 36);
  border : 2px solid green;
}

.error:not(span) {
  border : 2px solid red;
  background-color: rgb(220, 149, 149);
  
}

.warning {
  border: 2px solid yellow;
}

span.error {
  color:red;
}

span.success {
  color: rgb(4, 255, 4);
}