:host {
  display: flex;
  background-color: var(--color-dark);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.50) 1.95px 1.95px 2.6px;
}

h3, h4, p {
  color:white; 
}

.close {
  cursor: pointer;
}
.flex {
  display: flex;
  justify-content: space-between;
}

