:host {
  display: block;
}
h1 {
  text-align: center;
  color: var(--main-color-ligth);
}

h2 {
  margin-left: 1rem;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:1rem;
  padding: 1rem;
}

li {
  background-color: var(--color-dark);
  padding: 1rem;
  border-radius: 5px;
  border-bottom: 2px solid var(--main-color);
  line-height: 1.5;
  font-family: sans-serif;
  letter-spacing: 1px;
}

pre {
  background-color: var(--color-darker);
  color:white;
  border: none;
}